.banner {
  background-image: url("@/assets/img/banner-bg.png");
  padding: 260px 0 100px 0;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 0;
}
.banner .tagline {
  font-weight: 700;
  /* 字母间距 */
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(
    90.21deg,
    rgba(170, 54, 124, 0.5) -5.91%,
    rgba(74, 47, 189, 0.5) 111.58%
  );
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
/* 模拟鼠标指针 */
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

.button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}
.button .icon {
  margin-left: 10px;
  transition: 0.3s ease-in-out;
}
.button:hover .icon {
  margin-left: 25px;
}

.header-img {
  animation: updown 3s linear infinite;
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}

.my-title {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  margin-bottom: 20px;
}
.my-info {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
}
